
  .btn-custom {
    height: auto; /* Ajusta la altura según tus necesidades */
  }  

  .eventos-titulo{
    margin-bottom: 5%;
  }
  .tienda-titulo {
    margin-bottom: 5%; /* Ajusta el valor según el espacio deseado */
  }
  .sets-titulo{
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .navbar-toggler{
   height: 10%;
  }

  /* FOOTER */
  .contenedor-enlaces{
    max-width: 100%;
    display: flex;
    text-align: start;
    justify-content: space-between;
    gap: 10%;
  }
  article h3{
    color: blue;
    text-decoration: underline;
  }
  a{
    color: white;
  }
  ul{
    list-style: none;
  }
  footer img{
    width: 20%;
    height: 10%;
  }
