
 /*INDEX  */
 .btn-custom {
    height: auto;
  }  

  .eventos-titulo{
    margin-bottom: 5%;
  }
  .tienda-titulo {
    margin-bottom: 5%;
  }
  .sets-titulo{
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .navbar-toggler{
   height: 10%;
  }



  /* FOOTER */
  .contenedor-enlaces{
    max-width: 100%;
    display: flex;
    text-align: start;
    justify-content: space-between;
    gap: 10%;
  }
  article h3{
    color: blue;
    text-decoration: underline;
  }
  a{
    color: white;
  }
  ul{
    list-style: none;
  }
  footer img{
    width: 20%;
    height: 10%;
  }

/* Seccion CUENTA */

.cuenta-main{
  
  height: 100%;
  background-image: url(../img/foto4.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 2%;
  box-sizing: border-box;
  
  }
main section{
  height: 100%;
}
.container-sm{
  border: 5px solid white;
  width: 40%;
  padding: 2%;
  box-sizing: border-box;
  }

.sets-main div{
  
}