// aca van las declaraciones base o declaracion de utilidad, reseteo de css y variables de sass, mixing, each, for, maps
* {
    margin: 0;
    padding: 0;
    font-family: "Sigmar", sans-serif ;
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}
p{
    color: black;
}

ul{
    list-style-type: none;
}

$primary:  violet;

header{
    div{
        div{
            //titulo
            a{
                h1{
                    width: 0;
                    height: 0;
                    color: transparent;
                }
                img{
                    border: 3px solid red;
                    box-shadow: 1px 1px 20px 3px white; 
                };

            }
            button{
                color: white;
                background-color: aqua;
            }
        }
        nav{
            ul{
                li{
                    color: black;
                }
            }
        }
        form{
            color: white;
        }

    }

}
.navbar-toggler-icon{
    background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 1px 1px 50px violet;
}
.bg-dark{
    color: red;
  background-color: gray;
  box-shadow: 1px 1px 50px blue;
}
h2{
    font-family: "Roboto";
    font-size: 2rem;
    padding: 2%;
    color: white; 
    &:hover{
        color: black;
        box-shadow:1px 1px 25px 2px violet ;
    }
}
p{
    color: blue;
}

.card-img-overlay{
background-color: transparent;
}
.card-title{
    color:black;
    font-family: "Roboto", sans-serif;
    
    
}
.card-text{
    text-align: center;
    width: auto;
    color: black;
    font-family: "Sigmar", sans-serif;
    border: 1px solid black;
    box-shadow:1px 1px 25px 2px  black ;
}
.btn{
    background-color: rgb(172, 20, 40);
    color:black;
    font-family: "Sigmar", sans-serif;
    &:hover{
        color: white;
        background-color: black;
    }
}
.nav-item{
    text-align: center;
    margin-right: 50px;
    width: 6rem;
    border-radius: 50%;
    color:black solid;
    background-color: rgb(172, 20, 40);
    border-style: solid;
    border-color: black;
    box-shadow: 0 0 10px black;
}









footer{
    $Sigmar: "Sigmar";
    $box-shadow-h3: 1px 1px 25px 2px  rgb(39, 6, 6);
    $color-footer-h3:rgb(175, 55, 55);
    $colornegro: black;
    $colorinput: rgb(241, 241, 241);
    $colorvioleta: violet;

    div{

        h3{ 
            $tiempoDuracion: 1s;  
        font-size: 1.85rem;
        box-shadow: $box-shadow-h3;
        text-align: center;
        color: $color-footer-h3;
        text-decoration: none;
        text-align: center;
        font-family: "Roboto";
        transition: $tiempoDuracion;
        &:hover{

            color: $colorvioleta;
        }
        }
        form{
            text-align: center;
            color: $colornegro;
            label{
                font-size: 1.25rem;
            }
            input{
                background-color: $colorinput;
            }
            button{
                color: $colornegro;
                background-color: rgb(238, 24, 60);
            }
        }
        p{
            font-size: 0.75rem;
            font-family: "Sigmar", sans-serif;
            text-align: center;
        }

        hr{
            height: 3px;
            background-color: $colornegro;
            border: 1px solid red; 
            margin: 5%; 
        }
        section{
            article{
                li{
                    font-family: "Sigmar";
                    font-size: 1.2rem;
                    color: $colornegro;
                }

            }
            img{
                border: 4px solid $colorinput;

            }
        }
    }
}